html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Arial;
}

.poseNet-DevView {
  width: 500px;
  display: grid;
  grid-template-columns: 50rem;
  grid-template-rows: 40rem;
  position: absolute;
  left: 0;
  top: 0;
}

.hide {
  display: none;
}

.poseNet-DevView video,
.poseNet-DevView canvas {
  grid-column: 1;
  grid-row: 1;
}

.swimDetected {
  font-weight: bold;
  text-align: center;
}

.index {
  background: url(../assets/img/background.jpg) no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 40pt;
  letter-spacing: 20pt;
  margin: 0;
}

.intro img {
  justify-self: center;
  margin-bottom: 5rem;
  width: 12.8rem;
  height: 12.8rem;
}

.intro p {
  width: 40rem;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 50px;
}

.visit {
  text-align: center;
  margin-top: 10rem;
  font-size: 1.4rem;
}

.visit .id {
  font-weight: bold;
}

.open,
.close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.4rem;
}

.start-button {
  width: 30rem;
  border: 1px solid white;
  text-align: center;
  margin: 10rem auto 0;
  font-size: 1.4rem;
  transition: all 200ms ease-in-out;
}

.start-button:hover,
.stop-button {
  color: black;
  background: white;
}

.alternative {
  background: url(../assets/img/vr.png) no-repeat;
  background-size: cover;
}

.alternative .darkness {
  background: rgba(0, 0, 0, 0); /* Underwater gets darker as deeper you go */
  width 100%;
  height: 100%;
  display: flex;
}

.alternative .info {
  color: white;
  padding-left: 10%;
  width: 60%;
}

.alternative .info h1 {
  font-size: 2.4rem;
}

.alternative .info p {
  font-size: 1.4rem;
  line-height: 2rem;
}

.fish {
  width: 80%;
  display: flex;
  align-items: center;
}

.fishImage {
  animation: fishMovement 5s infinite;
  width: 40%;
}

.infoMoveLeft {
  animation: infoMoveLeft 1s;
}

@keyframes infoMoveLeft {
  0% {
    opacity: 1;
    padding-left: 10%;
  }

  100% {
    opacity: 0;
    padding-left: 0;
    padding-right: 10%;
  }
}

.imgMoveRight {
  animation: imgMoveRight 1s;
}

@keyframes imgMoveRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fishMovement {
  0% {
    margin-bottom: 0;
  }

  20% {
    margin-bottom: -5rem;
  }

  40% {
    margin-bottom: 0;
    margin-top: 0;
  }

  60%{
    margin-top: -5rem;
  }

  100% {
    margin-top: 0;
  }
}

.depth {
  width: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3rem repeat(15, 2rem) 6rem 1fr;
  justify-content: center;
  align-items: center;
}

.depth img {
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 2 / span 17;
}

.depth .amount {
  background: white;
  font-size: 1.4rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  grid-column: 2;
  grid-row: 3;
  transition: all 200ms ease-in-out;
}

.end {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.end h1 {
  font-size: 3rem;
}

.end p {
  font-size: 1.8rem;
}


.hidden {
  display: none;
}
